body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

h1 {
  font-size: 150px;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 5%;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.image-container {
  width: 30%;
  text-align: center;
}

.image-1 {
  max-width: 400px;
  height: auto;
  border-radius:5px;
  padding-left: 10%;
  width:100%
}

.image-2 {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 5px;
}

.text-container {
  width: 50%;
  padding: 0 1rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.para-4,
.para-5,
.para-6,
.para-7,
.para-8 {
  font-weight: normal;
  text-align: justify;
}

.button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #808080;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
}

.navbar {
  list-style-type: none;
  margin: 10;
  padding: 10;
  top: 0;
  right: 0;
  font-size: large;
  margin-bottom: 5%;
  margin-top: 0%;
  font: 500;
}

.navbar button {
  font-family: 'Inter', sans-serif;
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: white;
  background-color: #ffffff;
  border: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
